:root {
  --gold1: #f4bd76;
  --gold2: #f6cd8f;
  --gray1: #ffffff80;
  --gray2: #f7d9d980;
  --black: #1a1b1f;
  --black2: #30353b;
  --shadow: 0 8px 8px;
  --color_shadow: #00000033;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #424949;
  background-color: #ECF0F1;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}

h1 {
  text-align: center;
  height: 38px;
  color: white;
}

h2 {
  text-align: center;
  height: 38px;
  margin: 60px 0;
  color: white;
}

h5 {
  font-size: 35px;
  color: black;
  font-weight: bold;
}

.h3,
.h4,
.h6 {
  font-family: "Roboto", sans-serif;
  color: #000;
}

.footer {
  background: #30353b;
}
.footer .footer__caption {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.footer .footer__caption .socialmedia {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
}
.footer .footer__caption .socialmedia .redes__item {
  font-size: 30px;
}
.footer .footer__caption .socialmedia .redes__item .redes__icon {
  color: white;
  text-decoration: none;
}
.footer .contact {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: white;
}
.footer .contact .item__contact {
  width: 25%;
  padding: 20px 0;
  border-color: white;
  text-align: center;
  background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}
.footer .contact .item__contact .contact__icon {
  font-size: 14px;
  color: var(--gold1);
  line-height: 20px;
  margin-right: 4px;
}
.footer .contact .item__contact .contact__title {
  font-size: 16px;
  line-height: 20px;
}
.footer .contact .item__contact--gold {
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
  color: var(--black);
}
.footer .contact .item__contact--gold .contact__icon--modifier {
  color: var(--black);
}

.hero {
  width: 100%;
  background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}
.hero .navbar {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}
.hero .navbar .nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  padding: 0;
  height: 50px;
}
.hero .navbar .nav__container .logo {
  height: 50px;
  font-size: 20px;
}
.hero .navbar .nav__container .logo .point {
  color: #f4bd76;
}
.hero .navbar .navbar-collapse {
  width: 900px;
}
.hero .navbar .link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-weight: 300;
  padding: 10px;
}
.hero .navbar .link--active {
  color: #f4bd76;
  font-weight: 700;
}

.hero__main {
  display: grid;
  grid-template-areas: "txt img";
  grid-template-rows: 500px;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  padding: 0;
}
.hero__main .hero__texto {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  grid-area: txt;
  height: 90%;
  width: 90%;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
.hero__main .hero__texto .title {
  height: 100px;
  font-size: 56px;
  font-weight: 300;
  color: white;
}
.hero__main .hero__texto .title .title__active {
  color: #f4bd76;
  font-weight: 700;
}
.hero__main .hero__texto .cta {
  padding: 20px 30px;
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
  width: 180px;
  text-decoration: none;
  color: var(--black2);
  font-weight: 700;
  box-shadow: var(--shadow) var(--color_shadow);
  border-radius: 6px;
  margin: 50px 0 50px;
  display: flex;
  align-self: center;
  align-content: center;
  justify-content: center;
}
.hero__main .img {
  display: flex;
  flex-flow: nowrap;
  flex-wrap: wrap;
  grid-area: img;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  height: 90%;
  width: 90%;
}
.hero__main .img .imagen {
  width: 100%;
  grid-area: img;
  overflow: auto;
}

.content {
  padding: 7rem 0;
}
.content .contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
}
.content .contact-wrap .col-form-label {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}
.content .contact-wrap .form {
  padding: 40px;
  background: #fff;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.content .contact-wrap .form h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.content .contact-wrap h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.content .contact-wrap .btn-primary {
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
}
.content .contact-wrap .submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
.content .contact-wrap #message {
  resize: vertical;
}
.content .contact-wrap #form-message-warning,
.content .contact-wrap #form-message-success {
  display: none;
}
.content .contact-wrap #form-message-warning {
  color: #b90b0b;
}
.content .contact-wrap #form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

label.error {
  font-size: 12px;
  color: red;
}

.sobremi {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.sobremi .sobremi__texto {
  margin: 10% 0 10%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sobremi .sobremi__texto .imagen {
  width: 100%;
  grid-area: img;
  overflow: auto;
}
.sobremi .sobremi__texto p {
  color: white;
}

h1 span {
  font-weight: 600;
}

.title {
  height: 50px;
  font-size: 30px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin-top: 30px;
}

#container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

#container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #ccd1d9;
  z-index: 1;
}

.timeline-block {
  width: -webkit-calc(50% + 8px);
  width: -moz-calc(50% + 8px);
  width: calc(50% + 8px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: ltr;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #f5f7fa;
  background: #4fc1e9;
  margin-top: 10px;
  z-index: 9999;
}

.timeline-contentl {
  text-align: left;
}

.timeline-contentr,
.timeline-contentl {
  width: 95%;
  padding: 0 15px;
  color: #666;
}

.timeline-contentr,
.timeline-contentl h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
  color: white;
}

.timeline-contentr span,
.timeline-contentl span {
  font-size: 15px;
  color: var(--gold1);
}

.timeline-contentl,
.timeline-contentr p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #888;
}

.front,
.back {
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
}

.timeline-contentr:hover {
  transform: scale(1.2);
  padding-left: 40px;
  transition: 1s;
}

.timeline-contentl:hover {
  transform: scale(1.2);
  padding-right: 40px;
  transition: 1s;
}

.timeline-block-right:hover {
  padding-right: 20px;
}

.timeline-block-left:hover {
  padding-left: 20px;
}

.card {
  margin: 20px 20px;
}
.card .card-img-top {
  height: 250px;
}
.card .card-body {
  display: contents;
}
.card .card-body .card-text {
  height: 200px;
}
.card .card-body .card-footer {
  font-weight: bold;
}

@media (max-width: 1199.98px) {
  .contact-wrap .contact-info {
    height: 400px !important;
  }
}
@media (min-width: 1250px) {
  .input-flex-container {
    margin-left: 62.5px;
  }
  .botonh {
    background-color: white;
  }
  input::before {
    left: -37.5px;
  }
  input::after {
    right: -37.5px;
  }
  .dot-info {
    left: -49.75px;
  }
  #timeline-descriptions-wrapper {
    margin-left: -37.5px;
  }
}
@media (max-width: 630px) {
  .flex-parent {
    justify-content: initial;
  }
  .botonh {
    background-color: white;
  }
  .input-flex-container {
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: auto;
    margin-top: 15vh;
    margin-left: 0;
    padding-bottom: 30px;
  }
  input,
  .dot-info {
    width: 150px;
    height: 60px;
    margin: 0 10px 50px;
  }
  input {
    z-index: 1;
  }
  input::before,
  input::after {
    content: none;
  }
  input:checked + .dot-info {
    background-color: #2c3e50;
  }
  input:checked + .dot-info span.year {
    font-size: 14px;
  }
  input:checked + .dot-info span.label {
    font-size: 12px;
  }
  .dot-info {
    visibility: visible;
    border-radius: 50%;
    z-index: 0;
    left: 0;
    margin-left: -70px;
    background-color: #aeb6bf;
  }
  .dot-info span.year {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecf0f1;
  }
  .dot-info span.label {
    top: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    text-indent: 0;
    text-align: center;
  }
  #timeline-descriptions-wrapper {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
  }
  .hero__main {
    display: grid;
    grid-template-areas: "img" "txt";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    padding: 0;
    margin: 100px 0 100px;
  }
  .cta {
    display: flex;
    align-self: center;
    justify-content: center;
  }
  .hero__texto {
    flex-wrap: nowrap;
  }
  .navbar-toggler {
    background-color: white;
    color: white;
  }
  .navbar-toggler {
    background-color: white;
  }
}
@media (max-width: 480px) {
  .input-flex-container {
    width: 340px;
  }
  .card {
    margin: 20px 20px;
  }
  .logo__name {
    margin-top: 8px;
  }
  .footer .contact {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: white;
    flex-direction: column;
  }
  .footer .contact .item__contact {
    width: 100%;
    padding: 20px 0;
    border-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .botonh {
    background-color: white;
  }
  .navbar-toggler {
    background-color: white;
  }
  .hero__main .hero__texto .title {
    font-size: 45px;
  }
  .hero__main .hero__texto {
    flex-wrap: nowrap;
  }
}
@media (max-width: 400px) {
  .input-flex-container {
    width: 300px;
  }
  .botonh {
    background-color: white;
  }
  .navbar-toggler {
    background-color: white;
  }
  .hero__main .hero__texto .title {
    font-size: 45px;
  }
  .hero__main .hero__texto {
    flex-wrap: nowrap;
  }
}
@media screen and (max-width: 768px) {
  #container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

/*# sourceMappingURL=estilos.css.map */
