/* Fuente */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Rubik+Puddles&display=swap");

:root {
	--gold1: #f4bd76;
	--gold2: #f6cd8f;
	--gray1: #ffffff80;
	--gray2: #f7d9d980;
	--black: #1a1b1f;
	--black2: #30353b;
	--shadow: 0 8px 8px;
	--color_shadow: #00000033;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
}

main {
	font-family: "Roboto", sans-serif;
	background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}

/* INICIO HEADER */

.hero {
	width: 100%;
	background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}

.nav__hero {
	color: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
	border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

/* boostrap navbar */
.hero .navbar {
	color: #fff;
	border-bottom: 1px solid rgb(255, 255, 255, 0.1);
	background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}

.nav__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	padding: 0;
}



/* FIN BOOSTRAP */



.logo__name {
	font-size: 20px;
}

.link {
	display: inline-block;
	color: inherit;
	text-decoration: none;
	font-weight: 300;
	padding: 10px;
}

.link--active {
	color: #f4bd76;
	font-weight: 700;
}

.point {
	color: #f4bd76;
}

/* FIN HEADER */

/* INICIO MAIN */
.imagen {
	/* display: flex; */
	width: 100%;
	grid-area: img;
	overflow: auto;
	/* align-items: center; */
	/* justify-items: center; */
}

.hero__main {
	display: grid;
	grid-template-areas: "txt img";
	grid-template-rows: 500px;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	padding: 0;
}

.hero__texto {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	grid-area: txt;
	height: 90%;
	width: 90%;
	justify-content: center;
	align-self: center;
	justify-self: center;
}

.img {
	display: flex;
	flex-flow: nowrap;
	flex-wrap: wrap;
	grid-area: img;
	align-self: center;
	justify-self: center;
	align-items: center;
	justify-items: center;
	height: 90%;
	width: 90%;
}

.title {
	height: 100px;
	font-size: 56px;
	font-weight: 300;
	color: white;
}

.title__active {
	color: #f4bd76;
	font-weight: 700;
}

.copy {
	font-size: 24px;
	color: var(--gray1);
	text-shadow: var(--shadow) var(--color_shadow);
	margin: 15px 0;
}

.copy__active {
	font-weight: 700;
}

.cta {
	padding: 20px 30px;
	background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
	width: 160px;
	text-decoration: none;
	color: var(--black2);
	font-weight: 700;
	box-shadow: var(--shadow) var(--color_shadow);
	border-radius: 6px;
	margin: 50px 0 50px;
	display: flex;
	align-self: center;
	/* justify-self: center; */
	align-content: center;
	justify-content: center;
}

.sobremi {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

.sobremi__texto {
	margin: 10% 0 10%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tecnologias {
	display: flex;
	justify-content: center;
	align-items: center;
}

#Tecnologias__title {
	color: #fff;
}

.tecno__cont {
	display: inline-table;
}

.tecno {
	display: flex;
	justify-content: left;
	align-items: center;
}

.tecno__icon {
	color: #fff;
	font-size: 40px;
}

.tecno__text {
	color: #fff;
}

.exp__main {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	row-gap: 20px;
	column-gap: 20px;
	align-items: center;
	justify-items: center;
}

.exp_1,
.exp_2,
.exp_3 {
	width: 150px;
	height: 200px;
	display: inline-block;
	overflow: hidden;
}

.exp__texto {
	text-align: center;
	margin: 10px 0 30px;
	display: inline-block;
}

.exp__texto p {
	font-size: 15px;
}

.hidden {
	display: none;
}

.formulario__cont {
	display: flex;
	/* justify-content: center; */
	align-items: center;
	/* align-self: center; */
	justify-self: center;
}

#formulario {
	display: flex;
	width: 50vh;
	height: 50vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contacto__info {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.formulario {
	display: flex;
	justify-content: center;
}
/* FIN MAIN */

/* INICIO FOOTER */

.footer {
	background: #30353b;
}

.contact {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	color: white;
}

.footer__caption {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	flex-wrap: wrap;
	color: white;
}

.socialmedia {
	display: flex;
	width: 100%;
	height: 50px;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	color: white;
}

.item__contact {
	width: 25%;
	padding: 20px 0;
	border-color: white;
	text-align: center;
	background: linear-gradient(180deg, #30353b 0%, #1a1b1f 100%);
}

.item__contact--gold {
	background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
	color: var(--black);
}

.contact__icon {
	font-size: 14px;
	color: var(--gold1);
	line-height: 20px;
	margin-right: 4px;
}

.contact__icon--modifier {
	color: var(--black);
}

.contact__title {
	font-size: 16px;
	line-height: 20px;
}

.redes__item {
	font-size: 30px;
}

.redes__icon {
	color: white;
	text-decoration: none;
}

/* ******************************************************************* */



/* ********************************************************************** */

/* h1, */
h2,
h3,
h4,
h5,
h6,
/* .h1, */
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: "Roboto", sans-serif;
	color: #000;
}

a {
	-webkit-transition: 0.3s all ease;
	-o-transition: 0.3s all ease;
	transition: 0.3s all ease;
}
a,
a:hover {
	text-decoration: none !important;
}

.text-black {
	color: #000;
}

.content {
	padding: 7rem 0;
}

.heading {
	font-size: 2.5rem;
	font-weight: 900;
}

.form-control {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
	background: none;
}
.form-control:active,
.form-control:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000;
}

.col-form-label {
	color: #000;
	font-size: 13px;
}

.btn,
.form-control,
.custom-select {
	height: 45px;
	border-radius: 0;
}

.custom-select {
	border: none;
	border-bottom: 1px solid #ccc;
	padding-left: 0;
	padding-right: 0;
	border-radius: 0;
}
.custom-select:active,
.custom-select:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-color: #000;
}

.btn {
	border: none;
	border-radius: 0;
	font-size: 11px;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	border-radius: 30px !important;
}
.btn.btn-primary {
	border-radius: 30px;
	background: #4d80e4;
	color: #fff;
	-webkit-box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2);
	box-shadow: 0 15px 30px 0 rgba(77, 128, 228, 0.2);
	width: auto;
}

.btn:hover {
	color: #fff;
}
.btn:active,
.btn:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.contact-wrap {
	-webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
	background: #fff;
}
.contact-wrap .col-form-label {
	font-size: 14px;
	color: #b3b3b3;
	margin: 0 0 10px 0;
	display: inline-block;
	padding: 0;
}
.contact-wrap .form,
.contact-wrap .contact-info {
	padding: 40px;
}
.contact-wrap .contact-info {
	color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li {
	margin-bottom: 15px;
	color: rgba(255, 255, 255, 0.5);
}
.contact-wrap .contact-info ul li .wrap-icon {
	font-size: 20px;
	color: #fff;
	margin-top: 5px;
}
.contact-wrap .form {
	background: #fff;
}
.contact-wrap .form h3 {
	color: #000;
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 30px;
}
.contact-wrap .contact-info {
	height: 100vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.contact-wrap .contact-info a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
@media (max-width: 1199.98px) {
	.contact-wrap .contact-info {
		height: 400px !important;
	}
}
.contact-wrap .contact-info h3 {
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
}

label.error {
	font-size: 12px;
	color: red;
}

#message {
	resize: vertical;
}

#form-message-warning,
#form-message-success {
	display: none;
}

#form-message-warning {
	color: #b90b0b;
}

#form-message-success {
	color: #55a44e;
	font-size: 18px;
	font-weight: bold;
}

.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}



/* ******************************************** */

html {
	height: 100%;
  }
  
  body {
	min-height: 100%;
  }
  
  body {
	font-family: "Quicksand", sans-serif;
	font-weight: 500;
	color: #424949;
	background-color: #ECF0F1;
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	position: relative;
  }
  
  h1 {
	text-align: center;
	height: 38px;
	margin: 60px 0;
	color: white;
  }
  h1 span {
	white-space: nowrap;
  }
  
  .flex-parent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	min-height: 500px;
  }
  
  .input-flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 80vw;
	max-width: 1000px;
	position: relative;
	z-index: 0;
	margin-left: calc((80vw - 25px) / 20);
  }
  
  input {
	width: 25px;
	height: 25px;
	background-color: #2C3E50;
	position: relative;
	border-radius: 50%;
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
  }
  input:focus {
	outline: none;
  }
  input::before, input::after {
	content: "";
	display: block;
	position: absolute;
	z-index: -1;
	top: 50%;
	transform: translateY(-50%);
	background-color: #2C3E50;
	width: 4vw;
	height: 5px;
	max-width: 50px;
  }
  input::before {
	left: calc(-4vw + 12.5px);
  }
  input::after {
	right: calc(-4vw + 12.5px);
  }
  input:checked {
	background-color: #2C3E50;
  }
  input:checked::before {
	background-color: #2C3E50;
  }
  input:checked::after {
	background-color: #AEB6BF;
  }
  input:checked ~ input, input:checked ~ input::before, input:checked ~ input::after {
	background-color: #AEB6BF;
  }
  input:checked + .dot-info span {
	font-size: 13px;
	font-weight: bold;
  }
  
  .dot-info {
	width: 25px;
	height: 25px;
	display: block;
	visibility: hidden;
	position: relative;
	z-index: -1;
	left: calc((((80vw - 25px) / 20) * -1) - 1px);
	color: white;
  }
  .dot-info span {
	visibility: visible;
	position: absolute;
	font-size: 12px;
  }
  .dot-info span.year {
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);
  }
  .dot-info span.label {
	top: -65px;
	left: 0;
	transform: rotateZ(-45deg);
	width: 70px;
	text-indent: -10px;
  }
  
  #timeline-descriptions-wrapper {
	width: 100%;
	margin-top: 140px;
	font-size: 22px;
	font-weight: 400;
	margin-left: calc((-80vw - 25px) / 20);
	color: white;
  }
  #timeline-descriptions-wrapper p {
	margin-top: 0;
	display: none;
  }

  #titulo__exp{
	color: white;
  }
  
  input[data-description="1910"]:checked ~ #timeline-descriptions-wrapper p[data-description="1910"] {
	display: block;
  }
  
  input[data-description="1920"]:checked ~ #timeline-descriptions-wrapper p[data-description="1920"] {
	display: block;
  }
  
  input[data-description="1930"]:checked ~ #timeline-descriptions-wrapper p[data-description="1930"] {
	display: block;
  }
  
  input[data-description="1940"]:checked ~ #timeline-descriptions-wrapper p[data-description="1940"] {
	display: block;
  }
  
  input[data-description="1950"]:checked ~ #timeline-descriptions-wrapper p[data-description="1950"] {
	display: block;
  }
  
  input[data-description="1960"]:checked ~ #timeline-descriptions-wrapper p[data-description="1960"] {
	display: block;
  }
  
  input[data-description="1970"]:checked ~ #timeline-descriptions-wrapper p[data-description="1970"] {
	display: block;
  }
  
  input[data-description="1980"]:checked ~ #timeline-descriptions-wrapper p[data-description="1980"] {
	display: block;
  }
  
  input[data-description="1990"]:checked ~ #timeline-descriptions-wrapper p[data-description="1990"] {
	display: block;
  }
  
  input[data-description="2000"]:checked ~ #timeline-descriptions-wrapper p[data-description="2000"] {
	display: block;
  }
  
  @media (min-width: 1250px) {
	.input-flex-container {
	  margin-left: 62.5px;
	}
  
	input::before {
	  left: -37.5px;
	}
	input::after {
	  right: -37.5px;
	}
  
	.dot-info {
	  left: calc((((1000px - 25px) / 20) * -1) - 1px);
	}
  
	#timeline-descriptions-wrapper {
	  margin-left: -37.5px;
	}
  }
  @media (max-width: 630px) {
	.flex-parent {
	  justify-content: initial;
	}
  
	.input-flex-container {
	  flex-wrap: wrap;
	  justify-content: center;
	  width: 400px;
	  height: auto;
	  margin-top: 15vh;
	  margin-left: 0;
	  padding-bottom: 30px;
	}
  
	input, .dot-info {
	  width: 60px;
	  height: 60px;
	  margin: 0 10px 50px;
	}
  
	input {
	  background-color: transparent !important;
	  z-index: 1;
	}
	input::before, input::after {
	  content: none;
	}
	input:checked + .dot-info {
	  background-color: #2C3E50;
	}
	input:checked + .dot-info span.year {
	  font-size: 14px;
	}
	input:checked + .dot-info span.label {
	  font-size: 12px;
	}
  
	.dot-info {
	  visibility: visible;
	  border-radius: 50%;
	  z-index: 0;
	  left: 0;
	  margin-left: -70px;
	  background-color: #AEB6BF;
	}
	.dot-info span.year {
	  top: 0;
	  left: 0;
	  transform: none;
	  width: 100%;
	  height: 100%;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  color: #ECF0F1;
	}
	.dot-info span.label {
	  top: calc(100% + 5px);
	  left: 50%;
	  transform: translateX(-50%);
	  text-indent: 0;
	  text-align: center;
	}
  
	#timeline-descriptions-wrapper {
	  margin-top: 30px;
	  margin-left: 0;
	  text-align: center;
	}


	.hero__main {
		/* height: 600px; */
		display: grid;
		grid-template-areas:
			"img"
			"txt";
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 1fr;
		padding: 0;
		margin: 100px 0 100px;
	}

	.cta {
		display: flex;
		align-self: center;
		justify-content: center;
	}

	.hero__texto {
		flex-wrap: nowrap;
	}

	.navbar-toggler{
		background-color: white;
		color: white;
	}

	.navbar-toggler {
		background-color: white;
	  }
  }
  @media (max-width: 480px) {
	.input-flex-container {
	  width: 340px;
	}
	.navbar-toggler {
		background-color: white;
	  }
  }
  @media (max-width: 400px) {
	.input-flex-container {
	  width: 300px;
	}
	.navbar-toggler {
		background-color: white;
	  }
  }

  .navbar-toggler {
	background-color: white;
  }