h1 span {
	font-weight: 600;
}

.title {
	height: 50px;
	font-size: 30px;
	font-weight: 100;
	color: white;
	text-align: center;
	margin-top: 30px;
}

#container {
	width: 80%;
	padding: 50px 0;
	margin: 50px auto;
	position: relative;
	overflow: hidden;
}

#container:before {
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	height: 100%;
	background: #ccd1d9;
	z-index: 1;
}

.timeline-block {
	width: -webkit-calc(50% + 8px);
	width: -moz-calc(50% + 8px);
	width: calc(50% + 8px);
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	clear: both;
}

.timeline-block-right {
	float: right;
}

.timeline-block-left {
	float: left;
	direction: ltr;
}

.marker {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #f5f7fa;
	background: #4fc1e9;
	margin-top: 10px;
	z-index: 9999;
}

.timeline-contentl {
	text-align: left;
}

.timeline-contentr,
.timeline-contentl {
	width: 95%;
	padding: 0 15px;
	color: #666;
}

.timeline-contentr,
.timeline-contentl h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 25px;
	font-weight: 500;
    color: white;
}

.timeline-contentr span,
.timeline-contentl span {
	font-size: 15px;
	color: var(--gold1);
}

.timeline-contentl,
.timeline-contentr p {
	font-size: 14px;
	line-height: 1.5em;
	word-spacing: 1px;
	color: #888;
}

.front,
.back {
	transition: 1s;
	backface-visibility: hidden;
	border-radius: 10px;
}

.timeline-contentr:hover {
	transform: scale(1.2);
	padding-left: 40px;
    transition: 1s;
}

.timeline-contentl:hover {
	transform: scale(1.2);
	padding-right: 40px;
    transition: 1s;
}


.timeline-block-right:hover {
    padding-right: 20px;
}

.timeline-block-left:hover {
    padding-left: 20px;
}

